<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}

  {{ $css := resources.Get "css/styles.css" }}
  {{ $style := $css | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" crossorigin="anonymous">
</head>
<body style="background-color: #1f222a; color: white;">

<div>
  {{ block "header" . }}
  {{ end }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
  {{ end }}
</div>

</body>
</html>
