{{ define "main"}}
  <div class="wrapper" style="text-align: center;">
    <img class="logo-img" src="./logo-gradient-white.png" alt="logo" width="750px">
    <img class="gradient-img" src="./icons/gradient.png" alt="logo" width="750px">
    {{ .Content }}
    <div class="actions">
      <a href="mailto:hello@hashed.io" style="background-color: white; padding: 10px 35px; text-decoration: none; color: #1f222a; font-size: 1rem; border-radius: 8px;">Contact us</a>
      <a href="https://docs.google.com/presentation/d/1pMoW-yWpkCF4G-Vl2n4yJLqoE4DNMGrNrvhUn5noee0/edit?usp=sharing" rel="nofollow noopener noreferrer" target="_blank" style="background-color: white; padding: 10px 35px; text-decoration: none; color: #1f222a; font-size: 1rem; border-radius: 8px;">Review Deck</a>
    </div>
  </div>
{{ end }}