{{ define "main"}}
  <div style="text-align: center; margin-top: 250px;">
    <img src="./logo-gradient-white.png" alt="logo" width="1000px">
    {{ .Content }}
    <a href="mailto:max@hashed.io" style="background-color: white; padding: 10px 35px; text-decoration: none; color: #1f222a; font-size: 1rem; border-radius: 8px;">Contact us</a>
    <a href="https://youtu.be/2vWnCj8vxXc" rel="nofollow noopener noreferrer" target="_blank" style="background-color: white; padding: 10px 35px; text-decoration: none; color: #1f222a; font-size: 1rem; border-radius: 8px;">Video Walkthrough of Deck</a>
  </div>
{{ end }}