@font-face {
  font-family: "Manuka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../manuka-regular.woff2") format("woff2");
}

* {
  letter-spacing: 5px;
  font-size: 2rem;
  font-family: Manuka, Helvetica, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  margin-top: 250px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  width: 100%;
  height: auto;
}

.gradient-img {
  width: 100%;
  height: auto;
  display: none;
}

.actions {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 0;
  gap: 25px;
}

.actions a {
  width: 50%;
}

@media screen and (max-width: 950px) {
  .wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .actions {
    margin: 0 auto;
    margin-top: 25%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .actions a {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 150%;
  }

  .wrapper {
    margin: 10% 15% 0;
  }

  .gradient-img {
    display: initial;
  }

  .logo-img {
    display: none;

  }
}